.pending_h1 {
    border-bottom: #ccc dotted 2px;
    width: 400px;
    padding-left: 30px;
}

.article {
    width: 70%;
    height: 30%;
    margin: auto;
    border: 0.5px #ccc solid;
    border-radius: 20px;
    background-color: #799c8f;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.article button {
    border-radius: 20px;
    border: none;
    
    font-weight: bold;
    width: 110px;
    height: 40px;

}

.button-approve {
    background-color: #0B80B3;
}

.button-approve:hover {
    background-color: #1988b8;
}

.button-reject {
    background-color: #fff;
}

.button-reject:hover {
    background-color: #b8b2b2;
}

.button-container {
    display: flex;
    justify-content: flex-end;
}

.button-container button {
    margin-left: 10px;
    /* Add some space between the buttons */
}

h2 {
    margin-top: 0px;
}