/* .card {
	background-color: white;
	color: #272727;
	padding: 20px;
	border-radius: 10px;
	border: 0px;
	border-color: tomato;
	border-style: solid;
	transition: 200ms;
    max-width: 380px;
} */

.post-page,
.book-page,
.site-page,
.item-page
{
	background: url('auth/loginBG.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

.book-detail-page,
.owner-article-page,
.user-article-pending-page {
	background: url('https://vhx.imgix.net/sbtnott/assets/44ad8c03-33f4-44ce-8cec-3e263f0ba586-63b0cf8f.jpeg?auto=format%2Ccompress&fit=crop&h=720&q=75&w=1280') no-repeat;
	background-position: center;
	background-size: cover;
	margin-bottom: 30px;
	padding-bottom: 30px;
}

.book-detail-page-card,
.owner-article-page-card,
.user-article-pending-page-card {
	backdrop-filter: blur(250px) !important;
	width: 1200px;
}

.site-page-card,
.item-page-card {
	border-radius: 25px;
	box-shadow: 5px 5px 8px black
}

.item-page-card {
	margin: 30px 58px;
}

.book-page-card,
.site-page-card,
.item-page-card,
.book-detail-page-card {
	background: transparent;
	border: 1px solid rgba(137, 133, 133, 0.5);
	backdrop-filter: blur(8px);
}

.col {
	background-color: #fff;
}
.post-page-card {
	position: relative;
	height: 560px;
	width: 500px;
	background: transparent;
	border: 30px solid rgba(137, 133, 133, 0.5);
	backdrop-filter: blur(50000px);
}

.post {
	display: flex;
	flex-wrap: wrap;
	gap: 100px;
	flex-wrap: wrap;
}


.card-header {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	border-radius: 10px;
	background-color: yellow;
}

.card-container {
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0;
	text-align: center;
}

.card-date {
	margin-left: 183%;
	width: 100%;
}


/* .profile {
	width: 2.5rem;
	height: 2.5rem;
	background-color: tomato;
	border-radius: 50%;
	margin: 10px;
	font-size: 20pt;
	text-align: center;
	font-weight: bold;
	color: white;
	justify-content: center;
} */

.letter {
	vertical-align: middle;
}

.card-title-group {
	justify-content: center;

}

.card-title {
	flex: 0.5;
	font-size: large;
	margin-bottom: 0;
	margin-top: 0;
}

.card-date {
	flex: 0.3;
	font-size: small;
	margin-top: 0;
}

.card-image {
	border-radius: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	/* Đặt kích thước rộng là 100% của phần tử cha */
	height: 350px;
	/* Đặt chiều cao cố định cho hình ảnh */
	object-fit: cover;
}

.card-like-icon {
	height: 25px;
}

.card-text {
	width: 100%;
	font-size: medium;
}

.card-like-bar {
	display: flex;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

.like-text {
	font-size: small;
	margin-left: 10px;
}