
.postarticle {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
  }
  .articles-title{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .buttonpost{
    display: block;
    margin: 0 auto;
    background-color: black;
    color: #ffffff;
    border-radius: 4px;
    flex-direction: column;
  }
  .avatar {
    width: 200px;
    height: 100px;
    display: block;
    margin: 0 auto;
  }
  
  .articles-content {
    background-color: #e9e9e9;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 4rem;
    border-radius: 5px;
  }

  .buttonpost {
    width: 80px;
    height: 40px;
    align-items: center;
    line-height: 35px;
    background-color: rgb(255, 199, 1);
    color: #000;
    border: 0px;
  }

  .buttonpost:hover {
    background-color: rgb(236, 221, 49);
    color: #000;
  }

  .btnTag {
    border-radius: 5px;
    background-color: #000;
    color: #fff;
  }

  .btnTag:hover {
    background-color: #474545;
  }
  