.edit{
    background-image: url('https://img6.thuthuatphanmem.vn/uploads/2022/11/25/anh-nen-slide-powerpoint-dep_085430590.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }  
    .edit-container-site {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    
    .edit-form {
      width: 1800px;
      background-color: #fff;
      border-radius: 10px;
      border: 3px solid black;
      padding: 24px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .form-title {
      text-align: center;
      margin-bottom: 24px;
    }
    
    .form-body {
      display: flex;
      flex-direction: column;
    }
    
    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    
    .update-btn {
      margin-top: 16px;
    }
    
    .cancel-btn {
      margin-top: 8px;
    }
    
    