.map-container3 {
    width: 500px;
    height: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5)
  }
  .mapcontent {
    width: 900px;
    height: 800px;
    color: rgb(255, 255, 255);
    overflow: auto;
    font-weight: bold;
    font-size: 16px;
  }
  .mapTitle{
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
  }