.map-container3 {
    width: 500px;
    height: 800px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: auto;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.5)
  }
  .mapcontent {
    width: 900px;
    height: 700px;
    color: rgb(255, 255, 255);
    overflow: auto;
    font-weight: bold;
    font-size: 16px;
  }
  .mapTitle{
    margin-top: auto;
    margin-bottom: auto;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 50px;
  }
  .map::-webkit-scrollbar{
    display: none;
  }
  .map-overflow2{
   overflow: auto;
   flex: 1;
   display: flex;
    margin-right:30px ;
     width: 300px;
      height: 1000px
  }
.map-content-right::-webkit-scrollbar{
  display: none;
}