body {
  overflow-x: hidden;
}

.navbar {
  background-color: white;

  .navbar-brand {
    margin-left: 20px;
  }

  .ms-auto {
    .nav-link {
      color: black;
      font-weight: bold;
      transition: color 0.3s;
      margin-right: 20px;
      padding-left: 30px;
    }

    .nav-link:hover {
      color: #EFA25E !important;
    }
  }

  .me-auto {
    .nav-link {
      color: black;
      font-weight: bold;
      transition: color 0.3s;
      padding-left: 30px;
      margin-left: 100px;
    }

    .nav-link:hover {
      color: #EFA25E !important;
    }

    .nav-link.active::after {
      content: '';
      display: block;
      height: 4px;
      width: 100%;
      margin-top: 10px;
      background-color: #FFC701;
    }
  }

  .btn {
    margin-right: 20px;
  }
}


.text-header {
  font-size: 35px;
  font-weight: 500;
  color: #EFA25E;
  position: relative;
  padding: 10px 10px;
  text-align: right;
  bottom: 30px;
}

.text-header::before {
  content: "";
  position: absolute;
  margin-right: 10px;
  right: 0;
  bottom: 0;
  height: 3px;
  width: 300px;
  border-radius: 5px;
  background: linear-gradient(135deg, #EFA25E, #EFA25E);
}

.text-home {
  font-size: 45px;
  font-weight: 500;
  color: white;
  position: relative;
  padding: 10px 10px;
  text-align: center;
  margin-bottom: 100px;
  padding-top:40px;
}

.text-home::before {
  content: "";
  position: absolute;
  bottom: 0;
  height: 3px;
  width: 310px;
  border-radius: 5px;
  background-color: #FFC701;
}



.google-maps {
  margin-bottom: 20px;

}

.google-maps iframe {
  width: 100% !important;
  height: 400px;
}

.container {
  height: 70px;
  position: relative;

}

.container .element {
  margin: 0;
  position: absolute;
  top: 0;
  left: 50%;

  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

/* css cua videoPage*/
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden;

}

.embed-responsive::before {
  content: "";
  display: block;
}

/* .modal {

  .close-btn {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    cursor: pointer;
    float: right;
    font-size: 32px;
    margin-right: 14px;
  } */

  /* .close-btn:hover {
    color: #ccc;
  }

  .modal-content {
    margin: 0 auto;
    margin-top: 1%;
    padding: 5px;
    background-color: white;
    width: 25%;
    position: relative;
    border-radius: 5px;

  }
} */

/* .modal-content h2 {
  text-align: center;
} */

/* css videoPage */
.container-video {
  /* background-image: url(https://img.freepik.com/premium-photo/abstract-solid-shining-yellow-gradient-studio-wall-room-background_1258-114030.jpg); */
  background-size: cover;

  .breadcrumb {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
  }

  .search-form {
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
  }

  .search-form .btn-success {
    background-color: #007bff;
    border-color: #007bff;
  }

  .search-form .btn-success:hover {
    background-color: #0069d9;
    border-color: #0062cc;
  }

  .text-header.historical {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
  }

  .video-container {
    display: flex;
    flex-wrap: wrap;

  }

  .video-container:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .video-title {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
    color: red;
  }

  .video-container {
    position: relative;
  }
  
  .react-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
}



.wrapper-class {
  padding: 1rem;
  border: 1px solid #000000;
}
.editor-class {
  background-color:rgb(255, 255, 255);
  padding: 3rem;
  border: 1px solid #ccc;
  
}
.toolbar-class {
  border: 1px solid #ffffff;
}



.headerPost {
  background-color: #FFC701;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
 }



 .notes-container {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid rgb(88, 80, 80);
  border-radius: 5px;
}

.note {
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  background-color: #dddcc6;
}



 .modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid rgb(255, 244, 46);
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
} 
