.item{
    background-image: url('https://img6.thuthuatphanmem.vn/uploads/2022/11/25/anh-nen-slide-powerpoint-dep_085430590.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }  
    .add-container-character {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 130vh;
    }
    
    .add-form {
      width: 1800px;
      background-color: #fff;
      border-radius: 10px;
      border: 3px solid black;
      padding: 24px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    
    .form-title {
      text-align: center;
      margin-bottom: 24px;
    }
    
    .form-body {
      display: flex;
      flex-direction: column;
    }
    
    .form-group {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
    }
    
    .update-btn {
      margin-top: 16px;
    }
    
    .cancel-btn {
      margin-top: 8px;
    }
    
/* Hide the default file input */
input[type="file"] {
  display: none;
}

/* Style the custom label to look like a button or link */
label.custom-file-upload {
  cursor: pointer;
  padding: 8px 12px;
  background-color: #3498db;
  color: #fff;
  border-radius: 4px;
}

/* Optional: Add some hover and active styles for the custom label */
label.custom-file-upload:hover {
  background-color: #2980b9;
}

label.custom-file-upload:active {
  background-color: #216db1;
}

/* Styles for the form-group container */
.form-group {
    margin-bottom: 15px; /* Optional: Add some spacing between form groups */
  }
  
  /* Styles for the select element */
  #period-select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
  }
  
  /* Optional: Style the option elements */
  #period-select option {
    padding: 5px;
  }